@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/Background.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
