name : Depoloy Backend on EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install Dependencies
        run: |
          cd backend
          npm install
      
      - name: Build Backend
        run: |
          cd backend
          npm run build
      
      - name: Archive Backend
        run: |
          tar -czf backend.tar.gz backend

      - name: Upload to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SECRET_KEY }}
          source: "backend.tar.gz"
          target: "~/"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SECRET_KEY }}
          script: |
            rm -rf ~/akar-event-management-system/backend
            tar -xzf ~/backend.tar.gz -C ~/akar-event-management-system
            rm ~/backend.tar.gz
            pm2 reload nextjs-app