name : Depoloy Backend on EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install Dependencies
        run: |
          cd backend
          npm install
      
      - name: Build Backend
        run: |
          cd backend
          npm run build
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SECRET_KEY }}
          script: |
            cd ~/akar-event-management-system/backend
            git pull origin main
            npm install
            npm run build
            pm2 reload nextjs-app